button {
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    max-width: 9.5vw;
    max-height: 8vh;
    width: 9.5vw;
    height: 8vh;
    transition: background-color 0.5s, border-color 0.5s; 
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    cursor: pointer;
}